Repository Sakeeb91/claim-mapper: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, ml-service

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 80%
        threshold: 5%
        if_not_found: success
    patch:
      default:
        target: 75%
        threshold: 10%
        if_not_found: success

flags:
  frontend:
    paths:
      - src/
    carryforward: true
  backend:
    paths:
      - backend/api/src/
    carryforward: true
  ml-service:
    paths:
      - backend/ml/services/
      - backend/ml/models/
    carryforward: true

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test_*.py"
  - "**/tests/"
  - "**/__tests__/"
  - "**/node_modules/"
  - "**/.next/"
  - "**/dist/"
  - "**/build/"
  - "**/coverage/"
  - "**/*.d.ts"
  - "**/*.config.js"
  - "**/*.config.ts"
  - "**/jest.setup.js"
  - "**/conftest.py"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

feat(vectorstore): implement vector CRUD operations
  backend/api/src/services/vectorStore.ts
Due: backend

feat(evidence): add vector sync hooks and status tracking
  backend/api/src/models/Evidence.ts
Due: backend

feat(ingestion): implement text chunking service
  backend/api/src/services/ingestion/chunker.ts
Due: backend

feat(ingestion): implement document ingestion orchestrator
  backend/api/src/services/ingestion/index.ts
Due: backend

feat(services): add barrel exports for backend services
  backend/api/src/services/index.ts
Due: backend

feat(evidence): add semantic search and ingestion endpoints
  backend/api/src/routes/evidence.ts
Due: backend

chore(scripts): add vector DB sync migration script
  backend/api/scripts/sync-vector-db.ts
Due: none

test(services): add unit tests for vector DB services
  backend/api/src/services/__tests__/chunker.test.ts
  backend/api/src/services/__tests__/embedding.test.ts
  backend/api/src/services/__tests__/vectorStore.test.ts
Due: none

chore(env): add vector DB environment variables
  backend/api/.env.example
  docker-compose.dev.yml
Due: none

docs: update CLAUDE.md with vector DB documentation
  CLAUDE.md
Due: none

feat(linking): implement relationship classifier for semantic linking
  backend/api/src/services/linking/classifier.ts
Due: backend

feat(linking): implement cross-encoder reranker for precision improvement
  backend/api/src/services/linking/reranker.ts
Due: backend

feat(linking): implement premise-evidence matcher pipeline
  backend/api/src/services/linking/matcher.ts
Due: backend

feat(linking): add barrel export for linking services
  backend/api/src/services/linking/index.ts
Due: backend

feat(services): export linking pipeline from main services barrel
  backend/api/src/services/index.ts
Due: backend

feat(dedup): implement evidence deduplication service
  backend/api/src/services/deduplication.ts
Due: backend

feat(services): export deduplication service from main barrel
  backend/api/src/services/index.ts
Due: backend

feat(model): add linkedEvidence field to ReasoningChain step metadata
  backend/api/src/models/ReasoningChain.ts
Due: backend

feat(reasoning): integrate auto-linking in /generate endpoint
  backend/api/src/routes/reasoning.ts
Due: backend

feat(api): add coverage and step evidence endpoints
  backend/api/src/routes/reasoning.ts
Due: backend

test(linking): add unit tests for relationship classifier
  backend/api/src/services/linking/__tests__/classifier.test.ts
Due: none

test(linking): add unit tests for premise-evidence matcher
  backend/api/src/services/linking/__tests__/matcher.test.ts
Due: none

feat(types): add coverage visualization type definitions
  src/types/index.ts
Due: frontend

feat(graph): add CoverageHeatmap component for evidence visualization
  src/components/graph/CoverageHeatmap.tsx
Due: frontend

feat(graph): add EvidenceDrawer component for detailed evidence view
  src/components/graph/EvidenceDrawer.tsx
Due: frontend

feat(hooks): add useCoverage and useStepEvidence React Query hooks
  src/hooks/index.ts
  src/hooks/useCoverage.ts
Due: frontend

feat(graph): export coverage components from barrel
  src/components/graph/index.ts
Due: frontend

test(graph): add unit tests for CoverageHeatmap component
  src/components/graph/__tests__/CoverageHeatmap.test.tsx
Due: none

test(graph): add unit tests for EvidenceDrawer component
  src/components/graph/__tests__/EvidenceDrawer.test.tsx
Due: none

docs: update CLAUDE.md with semantic linking pipeline documentation
  CLAUDE.md
Due: none

fix(hooks): use react-query v3 syntax for useCoverage hooks
  src/hooks/useCoverage.ts
Due: frontend

fix(test): use ES imports instead of require in matcher tests
  backend/api/src/services/linking/__tests__/matcher.test.ts
Due: none

fix(backend): update logger to accept metadata and simplify classifier tests
  backend/api/src/services/linking/__tests__/classifier.test.ts
  backend/api/src/utils/logger.ts
Due: backend

fix(test): fix matcher test mocking and floating point comparison
  backend/api/src/services/linking/__tests__/matcher.test.ts
Due: none

fix(ml): add __init__.py to fixtures directory
  backend/ml/tests/fixtures/__init__.py
Due: none

fix(ml): add __init__.py to tests directory
  backend/ml/tests/__init__.py
Due: none

fix(ml): add __init__.py to unit and integration test directories
  backend/ml/tests/integration/__init__.py
  backend/ml/tests/unit/__init__.py
Due: none

fix(ml): convert ClaimExtractor to lazy initialization
  backend/ml/services/claim_extractor.py
Due: ml-service

fix(ml): update pytest-asyncio configuration in conftest
  backend/ml/tests/conftest.py
Due: none

fix(test): set _initialized flag in ClaimExtractor test fixture
  backend/ml/tests/unit/test_claim_extractor.py
Due: none
