Repository Sakeeb91/claim-mapper: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, ml-service

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 80%
        threshold: 5%
        if_not_found: success
    patch:
      default:
        target: 75%
        threshold: 10%
        if_not_found: success

flags:
  frontend:
    paths:
      - src/
    carryforward: true
  backend:
    paths:
      - backend/api/src/
    carryforward: true
  ml-service:
    paths:
      - backend/ml/services/
      - backend/ml/models/
    carryforward: true

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test_*.py"
  - "**/tests/"
  - "**/__tests__/"
  - "**/node_modules/"
  - "**/.next/"
  - "**/dist/"
  - "**/build/"
  - "**/coverage/"
  - "**/*.d.ts"
  - "**/*.config.js"
  - "**/*.config.ts"
  - "**/jest.setup.js"
  - "**/conftest.py"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

feat(redis): add type definitions for Redis stored data
  backend/api/src/config/redis.ts
Due: backend

fix(redis): replace any types in session methods with SessionData
  backend/api/src/config/redis.ts
Due: backend

fix(redis): add generics to caching methods set() and get()
  backend/api/src/config/redis.ts
Due: backend

fix(redis): add generics to pub/sub methods
  backend/api/src/config/redis.ts
Due: backend

fix(redis): add generics to search caching methods
  backend/api/src/config/redis.ts
Due: backend

fix(redis): use UserActivity type for activity tracking methods
  backend/api/src/config/redis.ts
Due: backend

fix(redis): fix remaining any types in utility methods
  backend/api/src/config/redis.ts
Due: backend

refactor(redis): export Redis type definitions
  backend/api/src/config/redis.ts
Due: backend

fix(test): replace deprecated asyncio.coroutine with async def
  backend/ml/tests/unit/test_claim_extractor.py
Due: none

fix(vectordb): fix logger call to pass proper metadata object
  backend/api/src/config/vectordb.ts
Due: backend

feat(deps): add @anthropic-ai/sdk dependency
  backend/api/package-lock.json
  backend/api/package.json
Due: none

fix(deps): add anthropic to CI requirements
  backend/ml/requirements-ci.txt
Due: none

docs: add requirements-ci.txt to configuration docs
  CLAUDE.md
Due: none

fix(test): fix CI test failures in reasoning and vectorStore tests
  backend/api/src/config/redis.ts
  backend/api/src/services/__tests__/vectorStore.test.ts
  backend/api/src/services/linking/__tests__/matcher.test.ts
  backend/api/src/services/vectorStore.ts
Due: backend

fix(deps): remove coreferee to fix spacy version conflict
  backend/ml/requirements.txt
Due: none

fix(types): fix TypeScript errors in logger and redis config
  backend/api/src/config/redis.ts
  backend/api/src/utils/logger.ts
Due: backend

fix(types): fix TypeScript compilation errors for CI build
  backend/api/package.json
  backend/api/src/config/redis.ts
  backend/api/src/middleware/auth.ts
  backend/api/src/middleware/validation.ts
  backend/api/src/models/Evidence.ts
  backend/api/src/models/Project.ts
  backend/api/src/models/ReasoningChain.ts
  backend/api/src/models/Session.ts
  backend/api/src/routes/claims.ts
  backend/api/src/routes/evidence.ts
  backend/api/src/server.ts
  backend/api/tsconfig.build.json
  backend/api/tsconfig.json
Due: backend

docs: update CI/CD memory with final resolution
  .claude/ci-cd-fixes-memory.md
Due: none

feat(services): add graphApi and claimsApi services
  src/services/claimsApi.ts
  src/services/graphApi.ts
  src/services/index.ts
Due: frontend

feat(types): add GraphMetrics, SearchFacetsResult to AppState
  src/types/index.ts
Due: frontend

feat(store): add imports and state declarations for store actions
  src/store/useAppStore.ts
Due: frontend

feat(collaboration): add sessions list endpoint with pagination
  backend/api/src/routes/collaboration.ts
Due: backend

feat(store): implement setter actions for search and graph state
  src/store/useAppStore.ts
Due: frontend

feat(collaboration): add GET comments history endpoint
  backend/api/src/routes/collaboration.ts
Due: backend

feat(store): implement searchClaims with full API integration
  src/store/useAppStore.ts
Due: frontend

feat(collaboration): add POST comments endpoint for REST fallback
  backend/api/src/routes/collaboration.ts
Due: backend

feat(store): implement loadGraphData with full API integration
  src/store/useAppStore.ts
Due: frontend

feat(collaboration): add GET version history endpoint
  backend/api/src/routes/collaboration.ts
Due: backend

feat(store): implement connectNodes with optimistic updates
  src/store/useAppStore.ts
Due: frontend

feat(collaboration): add version revert endpoint
  backend/api/src/routes/collaboration.ts
Due: backend

feat(collaboration): add project activity log endpoint
  backend/api/src/routes/collaboration.ts
Due: backend

test(store): add unit tests for store actions
  src/store/__tests__/useAppStore.test.ts
Due: none

feat(validation): add Joi schemas for collaboration endpoints
  backend/api/src/middleware/validation.ts
  backend/api/src/routes/collaboration.ts
Due: backend

fix(types): derive hasNext/hasPrev from pagination response
  src/services/claimsApi.ts
Due: frontend

test(collaboration): add comprehensive unit tests
  backend/api/src/routes/__tests__/collaboration.test.ts
Due: none

fix(collaboration): resolve TypeScript type issues
  backend/api/src/routes/__tests__/collaboration.test.ts
  backend/api/src/routes/collaboration.ts
Due: backend

deps(api): add Bull queue for background email processing
  backend/api/package-lock.json
  backend/api/package.json
Due: none

feat(email): add TypeScript types for email service
  backend/api/src/services/email/types.ts
Due: backend

feat(email): add responsive HTML email templates
  backend/api/src/services/email/templates.ts
Due: backend

feat(email): implement email service with Bull queue
  backend/api/src/services/email/index.ts
Due: backend
