Repository Sakeeb91/claim-mapper: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, ml-service

feat(graph): add reasoning path SVG rendering with position updates
  src/components/graph/ReasoningPathOverlay.tsx
Due: frontend

feat(collaboration): add CollaborationPanel activity status display
  src/components/collaboration/CollaborationPanel.tsx
Due: frontend

chore(cleanup): fix unused parameter warning in explore page
  src/app/explore/page.tsx
Due: frontend

feat(collaboration): add real-time collaboration indicators
  src/components/collaboration/CollaborationPanel.tsx
Due: frontend

feat(graph): implement animated flow effect for reasoning paths
  src/components/graph/ReasoningPathOverlay.module.css
  src/components/graph/ReasoningPathOverlay.tsx
Due: frontend

test(routes): add claims routes integration tests (part 1)
  backend/api/src/routes/__tests__/claims.test.ts
Due: none

feat(collaboration): export new components from barrel export
  src/components/collaboration/index.ts
Due: frontend

feat(graph): add reasoning node shape renderer
  src/components/graph/ReasoningNodeRenderer.tsx
Due: frontend

fix(lint): resolve unused variable warnings in new components
  .github/temp-issue-body.md
  backend/api/.claude/ralph-loop.local.md
  src/components/collaboration/CollaborationPanel.tsx
  src/components/collaboration/PermissionsManager.tsx
Due: frontend

test(routes): add claims routes integration tests (part 2)
  backend/api/src/routes/__tests__/claims-extended.test.ts
Due: none

feat(graph): add step number badges and confidence indicators
  src/components/graph/ReasoningNodeRenderer.tsx
Due: frontend

feat(graph): add ReasoningChainFilter UI component
  src/components/graph/ReasoningChainFilter.tsx
Due: frontend

test(routes): add projects routes integration tests
  backend/api/src/routes/__tests__/projects.test.ts
Due: none

fix(types): resolve TypeScript errors in reasoning chain types
  src/components/graph/ReasoningNodeRenderer.tsx
  src/lib/graph/reasoningChainToGraph.ts
  src/types/index.ts
Due: frontend

feat(graph): add ReasoningStepTooltip component
  src/components/graph/ReasoningStepTooltip.tsx
Due: frontend

test(routes): add search routes integration tests
  backend/api/src/routes/__tests__/search.test.ts
Due: none

feat(graph): add ReasoningLegend component
  src/components/graph/ReasoningLegend.tsx
Due: frontend

feat(exports): add barrel exports for reasoning components and lib
  src/components/graph/index.ts
  src/lib/graph/index.ts
Due: frontend

test(lib): add graph analyzer unit tests
  backend/api/src/lib/graph/__tests__/analyzer.test.ts
Due: none

feat(hooks): add useReasoningChainState hook
  src/hooks/useReasoningChainState.ts
Due: frontend

test(config): update jest config with coverage thresholds
  backend/api/jest.config.js
Due: none

feat(hooks): export useReasoningChainState from hooks index
  src/hooks/index.ts
Due: frontend

test(graph): add tests for reasoningChainToGraph transformer
  src/lib/graph/__tests__/reasoningChainToGraph.test.ts
Due: none

fix(lint): resolve TypeScript 'any' type warnings in backend
  backend/api/src/lib/graph/analyzer.ts
  backend/api/src/middleware/__tests__/auth.test.ts
Due: backend

test(graph): add tests for hierarchicalLayout functions
  src/lib/graph/__tests__/hierarchicalLayout.test.ts
Due: none

docs: add reasoning flow visualization documentation
  docs/features/reasoning-flow-visualization.md
Due: none

feat(types): add dedicated reasoning visualization types
  src/types/reasoning.ts
Due: frontend

feat(types): re-export reasoning types from types index
  src/types/index.ts
Due: frontend

test(graph): add tests for ReasoningChainFilter component
  src/components/graph/__tests__/ReasoningChainFilter.test.tsx
Due: none

fix(lint): replace 'any' types in graph analyzer tests
  backend/api/src/lib/graph/__tests__/analyzer.test.ts
Due: none

test(hooks): add tests for useReasoningChainState hook
  src/hooks/__tests__/useReasoningChainState.test.ts
Due: none

test(graph): add tests for ReasoningLegend component
  src/components/graph/__tests__/ReasoningLegend.test.tsx
Due: none

docs: add Features section to documentation index
  docs/README.md
Due: none

test(graph): add tests for ReasoningStepTooltip component
  src/components/graph/__tests__/ReasoningStepTooltip.test.tsx
Due: none

docs(claude): update CLAUDE.md with reasoning flow components
  CLAUDE.md
Due: none

fix(test): resolve TypeScript errors in test files
  backend/api/jest.config.js
  backend/api/src/lib/graph/__tests__/analyzer.test.ts
  backend/api/src/middleware/__tests__/auth.test.ts
  backend/api/src/routes/__tests__/auth.test.ts
  backend/api/src/routes/__tests__/claims-extended.test.ts
  backend/api/src/routes/__tests__/claims.test.ts
  backend/api/src/routes/__tests__/projects.test.ts
Due: none

fix(lint): resolve ESLint warnings in test files
  backend/api/src/lib/graph/__tests__/analyzer.test.ts
  backend/api/src/middleware/__tests__/auth.test.ts
  backend/api/src/middleware/__tests__/errorHandler.test.ts
  backend/api/src/models/__tests__/Claim.test.ts
  backend/api/src/models/__tests__/Project.test.ts
  backend/api/src/models/__tests__/User.test.ts
  tsconfig.tsbuildinfo
Due: none

fix(lint): add eslint-disable comments to source files
  backend/api/src/middleware/auth.ts
  backend/api/src/middleware/errorHandler.ts
Due: backend

fix(lint): add file-level eslint-disable for any types
  backend/api/src/middleware/errorHandler.ts
  backend/api/src/middleware/validation.ts
Due: backend

fix(lint): resolve ESLint errors with proper type annotations
  backend/api/src/models/Claim.ts
  backend/api/src/models/Evidence.ts
  backend/api/src/models/Project.ts
  backend/api/src/models/ReasoningChain.ts
  backend/api/src/models/Session.ts
  backend/api/src/models/User.ts
  backend/api/src/routes/__tests__/auth.test.ts
  backend/api/src/routes/__tests__/claims-extended.test.ts
  backend/api/src/routes/__tests__/claims.test.ts
  backend/api/src/routes/__tests__/collaboration.test.ts
  backend/api/src/routes/__tests__/graph.test.ts
  backend/api/src/routes/auth.ts
  backend/api/src/routes/claims.ts
Due: backend

Path conditions:
  frontend: any of: src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test_*.py, **/tests/, **/__tests__/, **/node_modules/, **/.next/, **/dist/, **/build/, **/coverage/, **/*.d.ts, **/*.config.js, **/*.config.ts, **/jest.setup.js, **/conftest.py
  backend: any of: backend/api/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test_*.py, **/tests/, **/__tests__/, **/node_modules/, **/.next/, **/dist/, **/build/, **/coverage/, **/*.d.ts, **/*.config.js, **/*.config.ts, **/jest.setup.js, **/conftest.py
  ml-service: any of: backend/ml/services/, backend/ml/models/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test_*.py, **/tests/, **/__tests__/, **/node_modules/, **/.next/, **/dist/, **/build/, **/coverage/, **/*.d.ts, **/*.config.js, **/*.config.ts, **/jest.setup.js, **/conftest.py
