Repository Sakeeb91/claim-mapper: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, ml-service

feat(constants): add email and password reset error codes
  backend/api/src/constants/errors.ts
Due: backend

feat(models): add EmailLog model for delivery tracking
  backend/api/src/models/EmailLog.ts
Due: backend

feat(models): add unsubscribe token field to User
  backend/api/src/models/User.ts
Due: backend

feat(auth): implement password reset with email notifications
  backend/api/src/routes/auth.ts
Due: backend

feat(projects): send invitation email when adding collaborators
  backend/api/src/routes/projects.ts
Due: backend

feat(server): add email service health check
  backend/api/src/server.ts
Due: backend

feat(services): export email service from barrel
  backend/api/src/services/index.ts
Due: backend

docs(config): expand email configuration in .env.example
  .env.example
Due: none

test(email): add unit tests for email templates
  backend/api/src/services/email/__tests__/email.test.ts
Due: none

fix(test): add eslint-disable for require statement in email tests
  backend/api/src/services/email/__tests__/email.test.ts
Due: none

feat(utils): create structured logger utility
  src/utils/logger.ts
Due: frontend

feat(constants): add logging constants for components and actions
  src/constants/index.ts
  src/constants/logging.ts
Due: frontend

feat(utils): export logger from barrel and update setInStorage
  src/utils/index.ts
Due: frontend

refactor(websocket): replace console calls with structured logger
  src/services/websocket.ts
Due: frontend

refactor(search): replace console calls with structured logger
  src/app/search/page.tsx
Due: frontend

refactor(mlApi): replace console calls with structured logger
  src/services/mlApi.ts
Due: frontend

refactor(store): replace console calls with structured logger in AppStore
  src/store/useAppStore.ts
Due: frontend

refactor(searchApi): replace console calls with structured logger
  src/services/searchApi.ts
Due: frontend

refactor(hooks,components): replace console calls with structured logger
  src/app/collaborate/page.tsx
  src/components/collaboration/CollaborativeEditor.tsx
  src/components/collaboration/ConflictResolver.tsx
  src/components/collaboration/ValidationPanel.tsx
  src/components/collaboration/VersionHistory.tsx
  src/components/providers.tsx
  src/hooks/useLocalStorage.ts
  src/hooks/useSearch.ts
Due: frontend

fix(utils): resolve logger reference in barrel file
  src/utils/index.ts
Due: frontend

fix(security): add JWT secret validation with fail-fast pattern
  backend/api/src/constants/index.ts
Due: backend

feat(security): add generate-secrets.sh for secure secret generation
  scripts/generate-secrets.sh
Due: none

docs(security): document JWT_SECRET requirements in backend .env.example
  backend/api/.env.example
Due: none

docs(security): add JWT_SECRET security notes to root .env.example
  .env.example
Due: none

feat(security): add startup security validation with status logging
  backend/api/src/server.ts
Due: backend

docs(security): add Security Setup section to README
  README.md
Due: none

test(security): add comprehensive JWT validation tests
  backend/api/src/constants/__tests__/jwt-validation.test.ts
Due: none

feat(security): auto-generate secrets during initial setup
  scripts/setup.sh
Due: none

chore(security): add security-sensitive file patterns to gitignore
  .gitignore
Due: none

docs(security): add security configuration section to CLAUDE.md
  CLAUDE.md
Due: none

fix(lint): resolve eslint errors in security implementation
  backend/api/src/constants/__tests__/jwt-validation.test.ts
  backend/api/src/server.ts
Due: backend

fix(test): clear JWT_SECRET in SECURITY_CONFIG tests for CI compatibility
  backend/api/src/constants/__tests__/jwt-validation.test.ts
Due: none

feat(ui): add Card component base structure
  src/components/ui/Card.tsx
Due: frontend

test(setup): add test utilities and fixtures factory
  backend/api/tests/utils/fixtures.ts
  backend/api/tests/utils/index.ts
  backend/api/tests/utils/testUtils.ts
Due: none

feat(ui): add Card variants using class-variance-authority
  src/components/ui/Card.tsx
Due: frontend

chore(deps): add html2canvas for PNG export
  package-lock.json
  package.json
Due: none

feat(ui): add Card header, content, and footer sub-components
  src/components/ui/Card.tsx
Due: frontend

feat(types): add graph export type definitions
  src/types/index.ts
Due: frontend

test(models): add User model unit tests
  backend/api/src/models/__tests__/User.test.ts
Due: none

feat(constants): add export-related constants
  src/constants/export.ts
  src/constants/index.ts
Due: frontend

Path conditions:
  frontend: any of: src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test_*.py, **/tests/, **/__tests__/, **/node_modules/, **/.next/, **/dist/, **/build/, **/coverage/, **/*.d.ts, **/*.config.js, **/*.config.ts, **/jest.setup.js, **/conftest.py
  backend: any of: backend/api/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test_*.py, **/tests/, **/__tests__/, **/node_modules/, **/.next/, **/dist/, **/build/, **/coverage/, **/*.d.ts, **/*.config.js, **/*.config.ts, **/jest.setup.js, **/conftest.py
  ml-service: any of: backend/ml/services/, backend/ml/models/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test_*.py, **/tests/, **/__tests__/, **/node_modules/, **/.next/, **/dist/, **/build/, **/coverage/, **/*.d.ts, **/*.config.js, **/*.config.ts, **/jest.setup.js, **/conftest.py
