Repository Sakeeb91/claim-mapper: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, ml-service

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 80%
        threshold: 5%
        if_not_found: success
    patch:
      default:
        target: 75%
        threshold: 10%
        if_not_found: success

flags:
  frontend:
    paths:
      - src/
    carryforward: true
  backend:
    paths:
      - backend/api/src/
    carryforward: true
  ml-service:
    paths:
      - backend/ml/services/
      - backend/ml/models/
    carryforward: true

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test_*.py"
  - "**/tests/"
  - "**/__tests__/"
  - "**/node_modules/"
  - "**/.next/"
  - "**/dist/"
  - "**/build/"
  - "**/coverage/"
  - "**/*.d.ts"
  - "**/*.config.js"
  - "**/*.config.ts"
  - "**/jest.setup.js"
  - "**/conftest.py"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

test(e2e): use production server in CI for Playwright webServer
  playwright.config.ts
Due: none

test(e2e): harden smoke tests and increase timeouts for CI stability
  e2e/smoke.spec.ts
  playwright.config.ts
Due: none

ci(e2e): run smoke tests only on chromium to reduce flakiness
  package.json
Due: none

ci: migrate actions/upload-artifact to v4 (fix deprecation failure)
  .github/workflows/ci.yml
Due: none

refactor(ml): reorganize test files and move demo files to examples
  backend/ml/examples/demo_advanced_reasoning.py
  backend/ml/examples/demo_service.py
  backend/ml/tests/conftest.py
  backend/ml/tests/integration/test_advanced_reasoning.py
  backend/ml/tests/integration/test_reasoning_api.py
  backend/ml/tests/unit/test_services.py
Due: none

feat: add centralized constants directories for frontend and backend
  backend/api/src/constants/errors.ts
  backend/api/src/constants/index.ts
  backend/api/src/constants/status.ts
  backend/api/src/constants/validation.ts
  src/constants/api.ts
  src/constants/graph.ts
  src/constants/index.ts
  src/constants/routes.ts
  src/constants/validation.ts
Due: frontend, backend

feat: add barrel exports (index.ts) for cleaner imports
  src/components/collaboration/index.ts
  src/components/graph/index.ts
  src/components/search/index.ts
  src/components/ui/index.ts
  src/hooks/index.ts
  src/services/index.ts
Due: frontend

feat: create lib/ directories for business logic separation
  backend/api/src/lib/graph/analyzer.ts
  src/lib/graph/filterEngine.ts
  src/lib/graph/layoutEngine.ts
  src/lib/search/queryParser.ts
  src/lib/validation/claimValidator.ts
Due: frontend, backend

feat: create shared types package for type consistency
  packages/shared-types/README.md
  packages/shared-types/package.json
  packages/shared-types/src/api.ts
  packages/shared-types/src/claim.ts
  packages/shared-types/src/evidence.ts
  packages/shared-types/src/graph.ts
  packages/shared-types/src/index.ts
  packages/shared-types/tsconfig.json
Due: none

docs: consolidate documentation into docs/ directory
  docs/README.md
  docs/architecture/ml-implementation.md
  docs/architecture/ml-service.md
  docs/architecture/reasoning-features.md
  docs/guides/search.md
  docs/guides/testing.md
  docs/troubleshooting/ci-fixes.md
Due: none

feat(ml): add .env.example for ML service configuration
  backend/ml/.env.example
Due: none

chore: update .gitignore for build artifacts and test files
  .gitignore
Due: none

docs: update CLAUDE.md with new codebase organization
  CLAUDE.md
Due: none

fix: update barrel exports to only export existing files
  src/components/collaboration/index.ts
  src/components/search/index.ts
  src/components/ui/index.ts
  src/hooks/index.ts
  src/services/index.ts
Due: frontend

docs: add comprehensive issue labeling guide and automation scripts
  LABELING_GUIDE.md
  label-issues-curl.sh
  label-issues.sh
Due: none

docs: add quick start guide for applying issue labels
  APPLY_LABELS_README.md
Due: none

docs: add visual issue labels mapping and distribution analysis
  ISSUE_LABELS_MAP.md
Due: none

fix(ci): resolve CI/CD pipeline failures across all test suites
  backend/ml/requirements-ci.txt
  backend/ml/tests/fixtures/model_fixtures.py
  next.config.js
  src/app/layout.tsx
Due: frontend

docs: add comprehensive CI/CD fixes summary document
  CI_FIXES_SUMMARY.md
Due: none

feat(api): add graph constants to validation limits
  backend/api/src/constants/validation.ts
Due: backend

feat(api): add graph query validation schema
  backend/api/src/middleware/validation.ts
Due: backend

feat(api): implement Graph API with full functionality
  backend/api/src/routes/graph.ts
Due: backend

test(api): add comprehensive tests for Graph API
  backend/api/src/routes/__tests__/graph.test.ts
Due: none

fix(test): use 'in' operator instead of hasOwnProperty
  backend/api/src/routes/__tests__/graph.test.ts
Due: none

fix(ml): add missing ML dependencies to CI requirements
  backend/ml/requirements-ci.txt
Due: none

fix(e2e): resolve strict mode violation in search test
  e2e/smoke.spec.ts
Due: none

fix(config): remove deprecated appDir experimental option
  next.config.js
Due: none

fix(perf): update Lighthouse CI configuration
  lighthouserc.json
Due: none

fix(ci): use unique artifact name for Lighthouse results
  .github/workflows/ci.yml
Due: none

fix(ml): add more missing dependencies to CI requirements
  backend/ml/requirements-ci.txt
Due: none

fix(e2e): update explore page test to handle multiple SVGs
  e2e/smoke.spec.ts
Due: none

fix(ci): disable Lighthouse artifact upload
  .github/workflows/ci.yml
Due: none

docs: update CI/CD fixes documentation
  docs/troubleshooting/ci-fixes.md
Due: none

feat(validation): add updateEvidence schema for evidence modifications
  backend/api/src/middleware/validation.ts
Due: backend

feat(constants): add evidence-specific constants and error messages
  backend/api/src/constants/validation.ts
Due: backend

feat(evidence): initialize route structure with imports and helpers
  backend/api/src/routes/evidence.ts
Due: backend

feat(evidence): implement GET /evidence - list with filtering
  backend/api/src/routes/evidence.ts
Due: backend

feat(evidence): add Redis caching to list endpoint
  backend/api/src/routes/evidence.ts
Due: backend

feat(evidence): implement GET /evidence/:id - get single evidence
  backend/api/src/routes/evidence.ts
Due: backend

feat(evidence): implement POST /evidence - create evidence endpoint
  backend/api/src/middleware/validation.ts
  backend/api/src/routes/evidence.ts
Due: backend
