Repository Sakeeb91/claim-mapper: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, ml-service

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 80%
        threshold: 5%
        if_not_found: success
    patch:
      default:
        target: 75%
        threshold: 10%
        if_not_found: success

flags:
  frontend:
    paths:
      - src/
    carryforward: true
  backend:
    paths:
      - backend/api/src/
    carryforward: true
  ml-service:
    paths:
      - backend/ml/services/
      - backend/ml/models/
    carryforward: true

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test_*.py"
  - "**/tests/"
  - "**/__tests__/"
  - "**/node_modules/"
  - "**/.next/"
  - "**/dist/"
  - "**/build/"
  - "**/coverage/"
  - "**/*.d.ts"
  - "**/*.config.js"
  - "**/*.config.ts"
  - "**/jest.setup.js"
  - "**/conftest.py"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

Fix MongoDB connection configuration
  backend/api/src/config/database.ts
Due: backend

Fix syntax errors in backend routes and WebSocket handlers
  backend/api/src/routes/projects.ts
  backend/api/src/websocket/handlers.ts
Due: backend

Fix Tailwind CSS stroke-width class issue
  src/app/globals.css
Due: frontend

Fix sidebar component import and rendering issues
  src/components/layout/Sidebar.tsx
Due: frontend

Update frontend package dependencies
  package-lock.json
  package.json
Due: none

Add ML API integration service for frontend
  src/services/mlApi.ts
Due: frontend

Update backend API package dependencies
  backend/api/package-lock.json
Due: none

Add demo ML service with FastAPI endpoints
  backend/ml/demo_service.py
Due: none

Add Next.js TypeScript environment declarations
  next-env.d.ts
Due: none

Update gitignore to exclude Python cache files
  .gitignore
Due: none

Fix CI/CD pipeline issues
  .github/workflows/ci.yml
  backend/api/.eslintrc.json
  backend/ml/requirements-ci.txt
Due: none

Fix remaining CI/CD pipeline issues
  .eslintrc.json
  .github/workflows/ci.yml
  backend/api/.eslintrc.json
  backend/ml/__pycache__/demo_service.cpython-313.pyc
  tsconfig.json
Due: none

Make ESLint warnings instead of errors for CI
  .eslintrc.json
  backend/api/.eslintrc.json
Due: none

Fix final CI/CD pipeline issues
  .eslintrc.json
  backend/ml/conftest.py
Due: none

Fix ML service unit test dependency imports
  backend/ml/tests/unit/test_claim_extractor.py
Due: none

Fix critical CI/CD pipeline failures
  backend/api/.eslintrc.json
  backend/ml/conftest.py
  backend/ml/requirements-ci.txt
  backend/ml/tests/unit/test_claim_extractor.py
  src/components/search/SavedSearches.tsx
Due: frontend

Replace problematic useSearch.test.ts with simplified version
  backend/ml/services/__pycache__/claim_extractor.cpython-313.pyc
  src/hooks/__tests__/useSearch.test.ts
  src/hooks/__tests__/useSearch.test.tsx
Due: ml-service

feat: Add functional claim creation UI in ClaimPanel
  src/components/claims/ClaimPanel.tsx
Due: frontend

feat: Integrate claims with graph visualization
  src/components/graph/GraphVisualization.tsx
Due: frontend

fix: Update backend API middleware and linting config
  backend/api/.eslintrc.json
  backend/api/src/middleware/auth.ts
  backend/api/src/middleware/errorHandler.ts
Due: backend

refactor: Update app pages for improved functionality
  src/app/editor/page.tsx
  src/app/explore/page.tsx
  src/app/search/page.tsx
Due: frontend

chore: Update collaboration components and dependencies
  backend/ml/requirements-ci.txt
  src/components/collaboration/ConflictResolver.tsx
  src/components/collaboration/ValidationPanel.tsx
  src/components/collaboration/VersionHistory.tsx
  src/components/graph/KnowledgeGraph.tsx
  src/components/graph/__tests__/KnowledgeGraph.test.tsx
Due: frontend

fix: Add Jest DOM type definitions for test suite
  package-lock.json
  package.json
Due: none

fix: Resolve type errors in KnowledgeGraph tests
  src/components/graph/__tests__/KnowledgeGraph.test.tsx
Due: none

fix: Resolve search component TypeScript errors
  src/components/search/SearchFilters.tsx
  src/components/search/SearchPanel.tsx
  src/components/search/UniversalSearchBar.tsx
Due: frontend

feat: Add document collaboration methods to WebSocket service
  src/services/websocket.ts
Due: frontend

fix: Resolve hook and store TypeScript errors
  src/hooks/useSearch.ts
  src/hooks/useWebSocket.ts
  src/store/searchStore.ts
  src/store/useAppStore.ts
Due: frontend

fix: Use Array.from for Set iteration in utils
  src/utils/index.ts
Due: frontend

Fix critical unit test failures
  simulate-ci.sh
  src/components/graph/__tests__/KnowledgeGraph.test.tsx
  src/components/search/__tests__/UniversalSearchBar.test.tsx
  src/services/__tests__/api.test.ts
  tsconfig.tsbuildinfo
Due: none

fix(ml): Remove async from claim_extractor test fixture
  backend/ml/tests/unit/test_claim_extractor.py
Due: none

fix(frontend): Add Suspense boundaries for useSearchParams hooks
  src/app/editor/page.tsx
  src/app/search/page.tsx
Due: frontend

fix(tests): Resolve circular dependencies and test data issues
  src/components/graph/__tests__/KnowledgeGraph.test.tsx
  src/services/__tests__/api.test.ts
Due: none

fix(lint): Remove unused imports from search page
  src/app/search/page.tsx
Due: frontend

docs: Add CI/CD fix summary and validation
  CI_FIX_SUMMARY.md
Due: none

Fix CI/CD pipeline test failures
  jest.config.js
  src/components/graph/__tests__/KnowledgeGraph.test.tsx
  src/components/search/__tests__/UniversalSearchBar.test.tsx
  src/services/__tests__/api.test.ts
Due: none

Fix backend API test configuration and CI/CD issues
  backend/api/.eslintrc.json
  backend/api/jest.config.js
  backend/api/jest.setup.js
  backend/api/package.json
  backend/api/src/routes/__tests__/basic.test.ts
  backend/api/src/routes/__tests__/claims.test.ts
Due: none

Fix backend API integration test failure in CI
  backend/api/package.json
Due: none

ci: stabilize GitHub Actions (smoke E2E, non-blocking Codecov) and fix simulate-ci shebang
  .github/workflows/ci.yml
  e2e/smoke.spec.ts
  package.json
  simulate-ci.sh
  tsconfig.tsbuildinfo
Due: none

test(e2e): relax explore smoke assertion; ci(ml): temporarily continue-on-error for ML job
  .github/workflows/ci.yml
  e2e/smoke.spec.ts
Due: none
